body{
font-family:Poppins;
background:#f3f4f8;
margin:0;
}

/* HERO */
.package-hero{
background:linear-gradient(135deg,#7b2ff7,#5f0a87);
padding:50px 20px;
text-align:center;
}

.package-hero h1{
font-size:40px;
margin-bottom:6px;
color:white;
}

.package-hero p{
opacity:.8;
font-size:18px;
color:white;
}

/* CONTAINER */
.container{
max-width:850px;
margin:20px auto;
background:#fff;
border-radius:14px;
padding:20px;
box-shadow:0 6px 18px rgba(0,0,0,0.1);
}

.product-image-box{
margin-bottom:20px;
border-radius:12px;
overflow:hidden;
border:1px solid #e5e7eb;
position:relative;
}

/* zoom hanya gambar */
.product-image-box img{
width:100%;
height:180px;
object-fit:cover;
display:block;

/* animasi smooth */
transition:transform .4s ease;
}

/* HOVER DI CONTAINER IMG */
.product-image-box:hover img{
transform:scale(1.05);
}

/* COPY STYLE DARI CEK STATUS */
.invoice-box{
background:#dcfce7;
border:1px solid #86efac;
border-radius:12px;
padding:16px;
margin-bottom:20px;
}

.invoice-status{
color:#16a34a;
font-weight:600;
}

.invoice-price{
font-size:28px;
font-weight:700;
margin-top:10px;
}

.section-title{
font-size:20px;
font-weight:700;
margin:10px 0;
}

.summary-box{
background:#f9fafb;
border:1px solid #e5e7eb;
border-radius:10px;
padding:14px;
margin-bottom:20px;
}

.summary-item{
display:flex;
justify-content:space-between;
margin-bottom:12px;
}

.paket-title{
font-size:15px;
font-weight:600;
color:#111827;
margin-bottom:3px;
}

.paket-sub{
font-size:13px;
color:#6b7280;
}

/* baris */
.summary-row{
display:flex;
justify-content:space-between;
padding:10px 0;
font-size:14px;
color:#374151;
position:relative;
}

.summary-row::after{
content:"";
position:absolute;
left:0;
bottom:0;
width:100%;
height:1px;
background:linear-gradient(
  to right,
  transparent,
  #e5e7eb,
  transparent
);
}

/* total */
.summary-total{
display:flex;
justify-content:space-between;
margin-top:10px;
padding-top:10px;
border-top:2px solid #e5e7eb;
font-weight:700;
font-size:16px;
color:#111827;
}

/* warna diskon & hemat */
#diskon{
color:#ef4444;
font-weight:600;
}

#hemat{
color:#16a34a;
font-weight:600;
}

.detail-box{
background:#f9fafb;
border:1px solid #e5e7eb;
border-radius:10px;
padding:14px;
margin-bottom:20px;
}

.price-box{
display:flex;
flex-direction:column;
align-items:flex-end;
gap:2px;
}

.price-old{
font-size:12px;
color:#9ca3af;
text-decoration:line-through;
}

.price-final{
font-size:16px;
font-weight:700;
color:#111827;
}

.detail-row{
display:flex;
justify-content:space-between;
margin-bottom:8px;
}

/* STATUS */
.status-box{
background:#dcfce7;
border:1px solid #86efac;
border-radius:12px;
padding:16px;
margin-bottom:20px;
}

.status-title{
font-weight:600;
color:#16a34a;
}

/* DOWNLOAD */
.wa-box{
background:#ecfeff;
border:1px solid #a5f3fc;
border-radius:12px;
padding:16px;
}

.wa-btn{
margin-top:10px;
display:inline-block;
background:#22c55e;
color:white;
padding:10px 16px;
border-radius:8px;
font-weight:600;
border:none;
}
