*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Plus Jakarta Sans',sans-serif;
  background:#f3f4f8;
}

/* HERO */

.package-hero{

  width:100%;

  background:linear-gradient(135deg,#7b2ff7,#5f0a87);

  padding:60px 20px;

  text-align:center;

}

.package-hero h1{

  font-family:'Playfair Display',serif;
  font-size:50px;

  margin-bottom:8px;

  color:#fff;

}

.package-hero p{

  font-size:24px;

  color:rgba(255,255,255,.9);

}
