<section class="preview-testimoni">

    <div class="preview-testimoni-header">

        <div class="preview-heading">
            <h2>Testimoni Pelanggan</h2>

            <p>
                Dengar langsung pengalaman dari mereka yang sudah mencoba layanan kami
            </p>
        </div>

    </div>

    <div
        id="preview-testimoni-container"
        class="preview-testimoni-grid">
    </div>

    <div
        id="preview-testimoni-loading"
        class="preview-testimoni-grid">

        <div class="skeleton"></div>
        <div class="skeleton"></div>
        <div class="skeleton"></div>
        <div class="skeleton"></div>

    </div>

    <a href="testimoni.html" class="preview-testimoni-btn">
            Lihat Semua Testimoni
        </a>

</section>
